* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.logo {
  display: flex;
  align-self: center;
}
.logo a {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}
.button1 button {
  cursor: pointer;
}
.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 25px;
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  gap: 250px;
}
.links {
  align-self: center;
}
.links a {
  padding-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #555555;
  justify-content: space-between;
}
.links a:hover {
  color: #f8971f;
}
#btn00 {
  background-color: white;
  width: 78px;
  height: 40px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: #5978ff 1.5px solid;
  color: #5978ff;
  border-radius: 10px;
}
#btn1 {
  width: 121px;
  height: 40px;
  background-color: #5978ff;
  color: #ffffff;
  border-radius: 10px;
  border: #5978ff 1.5px solid;
}
#change {
  color: #5978ff;
}
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 545px;
  height: 145px;
  display: flex;
}
.text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.3;
  font-size: 44px;
  margin-top: 20px;
}
.text1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: medium;
  font-size: 15px;
}
.text1 {
  width: 540px;
  height: 96px;
  margin-left: 40px;
  margin-top: 17px;
}
.des {
  margin-left: 300px;
  margin-top: 2px;
}
.tick {
  display: flex;
  padding-left: 20px;
  margin-top: 50px;
  padding-left: 20px;
}
.tick p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: medium;
  font-size: 16px;
  color: #555555;
  padding-left: 20px;
}
.tick img {
  padding-left: 20px;
  width: 24px;
}
.btn2 {
  margin-top: 40px;
  padding-left: 20px;
  margin-left: 20px;
}
.btn2 button {
  width: 158px;
  height: 58px;
  background-color: #5978ff;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}
.main2 {
  display: flex;
  justify-content: center;
  padding: 180px 90px 140px 90px;
}
.main {
  background-image: linear-gradient(80deg, #f8f4f1, #ecf1ff);
}
.usep p {
  font-weight: 400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.vedio1 {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
}
.vedio {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 80px 80px 140px 80px;
}
.vedio1 iframe {
  width: 900px;
  height: 500px;
  border-radius: 20px;
}
.useof {
  background-color: #f7f9ff;
  padding: 80px 80px 140px 80px;
}
.usep1 p {
  font-weight: 400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.t1 {
  width: 260px;
}
.t1 #p1 {
  line-height: 40px;
  font-weight: bold;
}
.div1 {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.div2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
  padding-right: 20px;
}
.maindiv {
  padding: 80px 80px 6px 80px;
}
.inf {
  background-color: #f7f9ff;
  background-image: url("./assets/light mode.png");
  padding: 80px 80px 80px 80px;
}
.in1 {
  display: flex;
  background-image: linear-gradient(to right, #f8971f1f, #f8f8f83d);
  width: 300px;
  height: 15px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
}
.inner {
  margin-top: 4px;
}
.in1 p {
  font-size: 15px;
  line-height: 16px;
  margin-left: 14px;
}
.text4 p {
  font-size: 16px;
}
.text4 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.outer {
  background-color: #ffffff;
  width: 310px;
  height: 420px;
  padding: 10px;
  border-radius: 12px;
}
.in2 {
  display: flex;
  width: 300px;
  height: 15px;
  padding: 10px;
  margin-top: 20px;
}
.in2 p {
  font-size: 15px;
  line-height: 16px;
  margin-left: 14px;
}
#line {
  text-decoration: line-through;
}
#btn3 {
  width: 80px;
  height: 40px;
  background-color: #5978ff;
  color: #ffffff;
  border-radius: 10px;
  border: #5978ff solid 1px;
  font-size: 15px;
  margin-top: 5px;
}
.tot1 {
  display: flex;
  gap: 105px;
  background-color: #f7f9ff;
  width: 310px;
  height: 50px;
  border-radius: 12px;
}
.in3 p {
  font-size: 15px;
}
.flexing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
}
.text2 p {
  font-weight: 400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.exp p {
  color: #5978ff;
}
.exp p:hover {
  cursor: pointer;
  color: #f8971f;
}
.exp {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.image {
  justify-content: center;
}
.image p {
  font-weight: 400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: -100px;
  padding-bottom: 30px;
}
#btn4 {
  color: #008545;
  margin-left: 4px;
}
.steps2 {
  width: 59px;
  height: 26px;
  background-color: #cbf2e0;
  padding: 5px;
  border-radius: 20px;
  margin-top: 40px;
}
.steps1 {
  width: 491px;
  height: 40px;
}
.text6 {
  margin-top: 10px;
  font-weight: bold;
}
.text7 {
  margin-top: 10px;
}
.tot4 {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.image2 {
  margin-top: 50px;
  margin-left: 80px;
}
.in1 p {
  color: #402708;
}
.box1 {
  display: flex;
  height: 500px;
  width: 921px;
  overflow-x: auto;
}
.outerbox01 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
::-webkit-scrollbar {
  display: none;
}
.innerbox1 {
  background-color: #f0f9fa;
  height: 354px;
  width: 321px;
  margin-top: 54px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  padding-left: 10px;
}
.logo2 {
  position: absolute;
  margin-left: 150px;
  top: -50px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
.logo3 {
  position: absolute;
  margin-left: 150px;
  top: -50px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
}
.content1 p {
  text-align: center;
  padding-top: 80px;
}
#jus {
  text-align: center;
  width: 300px;
}
.content3 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.content2 {
  margin-top: 30px;
}
.content3 {
  margin-top: 30px;
}
.innerbox2 {
  background-color: #fff5ec;
  height: 354px;
  width: 321px;
  margin-top: 49px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin-right: 20px;
  border-radius: 20px;
  position: relative;
  padding-left: 5px;
}
.text8 {
  display: grid;
  justify-content: center;
}
.text8 p {
  font-weight: 400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
.box1 {
  display: flex;
  overflow-x: auto;
}
.container {
  padding-bottom: 40px;
}
.scroll-progress {
  width: 10%;
  margin: auto;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.progress-bar {
  width: 0;
  height: 100%;
  background-color: #0d1226;
  transition: width 0.3s ease-out;
  border-radius: 10px;
}
.page_7 {
  background-color: #f7f9ff;
  padding: 80px 80px 80px -10px;
}

.text9 p {
  font-weight: 400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.deal2 img {
  width: 450px;
  height: 255px;
}
.content4 p {
  font-weight: 400px;
  font-size: 20px;
  margin-top: 20px;
}
.content5 {
  width: 450px;
  margin-top: 20px;
}
.content6 {
  display: flex;
  padding-top: 20px;
}
.content6 a {
  text-decoration: none;
  color: #5978ff;
}
.content6 img {
  margin-left: 10px;
  margin-top: 8px;
}
#col1 {
  color: #5978ff;
}
#col1:hover {
  color: #f8971f;
}
.innerbox3 {
  margin-right: 20px;
}
.outerbox {
  height: 500px;
  width: 921px;
  overflow-x: auto;
  padding-bottom: 80px;
}
.scroll-wrapper {
  overflow: hidden;
  margin-top: 30px;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
}
.text9 {
  padding-top: 80px;
}
.scroll-indicator {
  width: 10%;
  height: 5px;
  background-color: #d9d9d9;
  z-index: 10;
  border-radius: 10px;
}

.scroll-progress-bar {
  width: 0;
  height: 100%;
  background-color: #0d1226;
  transition: width 0.3s ease-out;
  border-radius: 10px;
}
.scroll-indicator {
  overflow: hidden;
  margin: auto;
  margin-top: 40px;
}
.footer {
  background-color: #0d1226;
  height: 586px;
}
.sec_1 a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.sec_1 {
  display: flex;
}
.al {
  margin-top: 8px;
  margin-left: 10px;
}
.p11 {
  color: #9497a1;
  font-size: 13px;
  font-weight: lighter;
  font-weight: 50;
  margin-top: 13px;
}

.icon10 img {
  width: 22px;
  height: 20px;
  margin-right: 10px;
  margin-top: 13px;
}
.mainsec_1 {
  width: 285px;
  height: 169px;
}
.in_1 a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
}
.in_2 a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}
.in_1 {
  margin-bottom: 25px;
}
.in_2 {
  margin-bottom: 25px;
}

.main_0 {
  display: flex;
  align-items: center;
}
.mainsec_0 {
  display: flex;

  padding-top: 100px;
  margin: auto;
}
.innerfooter .bottom {
  width: 100%;
}
.innerfooter {
  display: grid;
  justify-content: center;
}
.mainsec_2 {
  width: 233px;
  height: 162px;
}
.main_0 {
  margin-left: 80px;
}
.mainsec_1 {
  gap: 20px;
}
#f1 {
  color: #ffffff;
}
.inpage_7 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
}
.innerbottom {
  display: flex;
  justify-content: space-between;
  width: 1064px;
  padding-top: 30px;
  font-weight: 20;
  font-size: 12px;
  color: #ffffff;
  margin-top: 120px;
  border-top: #ffffff solid 0.5px;
}
.inb2 {
  display: flex;
  gap: 20px;
}
